.diagram-parent {
    height: 1400px;
    width: 1400px;
    border: solid 3px #EEE;
    position: relative;
  }
  
  .import-error {
    color: red;
    padding: 20px;
  
    position: absolute;
    top: 0;
    left: 0;
  }