.normal {
  margin: 2em;
  b {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: auto;
    width: 8em;
    height: 5em;
    border: 1px solid gray;
  }
}

.contain {
  position: relative;
  b {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: auto;
    width: 8em;
    height: 5em;
    border: 1px solid gray;
  }
}

.poverlay {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid;
  position: relative;
  #first {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 10em;
    z-index: 8;
  }
  #second {
    position: absolute;
    top: -0.75em;
    left: 15%;
    width: 60%;
    height: 5.5em;
    z-index: 4;
  }
  #third {
    position: absolute;
    top: 23%;
    left: 25%;
    width: 30%;
    height: 10em;
    z-index: 1;
  }
  #fourth {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 10em;
    z-index: 0;
  }
}
.poverlay1 {
  border: 1px solid;
  background: #ddd;
  margin: 0;
  position: relative;
  #one {
    position: absolute;
    top: 1em;
    left: 0;
    width: 40%;
    height: 10em;
    z-index: 3;
  }
  #two {
    position: absolute;
    top: -0.75em;
    left: 15%;
    width: 60%;
    height: 5.5em;
    z-index: 10;
  }
  #three {
    position: absolute;
    top: 10%;
    left: 30%;
    width: 30%;
    height: 10em;
    z-index: 8;
  }
  p[id] em {
    position: absolute;
    top: -1em;
    left: -1em;
    width: 10em;
    height: 5em;
  }
  #one em {
    z-index: 100;
    background: hsla(0, 50%, 70%, 0.5);
  }
  #two em {
    z-index: 10;
    background: hsla(120, 50%, 70%, 0.9);
  }
  #three em {
    z-index: -343;
    background: hsla(240, 50%, 70%, 1);
  }
}

#scrollbox {
  overflow: scroll;
  width: 15em;
  height: 18em;
}
#scrollbox h2 {
  position: sticky;
  top: 2em;
  bottom: auto;
  left: auto;
  right: auto;
}
