<div *ngIf="wcmSystem" id="template" class="page-layout carded left-sidebar inner-scroll">
    <!-- LEFT SIDE PANEL -->
    <!--
    <sidebar fxFlex="layout.sidePane?.width" class="sidebar" name="page-template-side-bar" position="left" lockedOpen="gt-md" *ngIf="leftSidePane()">
    -->
    <div class="card sidePanel-layout" fxFlex="{{layout.sidePane.width}}" *ngIf="leftSidePane()">
      <div fxLayout="column" fxLayoutAlign="start"  fxFlex="1 0 auto">
          <div class="card container" *ngFor="let viewer of layout.sidePane?.viewers; let viewerIndex = index;">
              <resource-render
                  [siteAreaKey]="getSiteAreaKey(siteArea)"
                  [renderer]="sideRenderId(viewerIndex)"
                  [rendererTemplate]="wcmSystem.renderTemplates[layout.sidePane.viewers[viewerIndex].renderTemplate]"
                  [content]="layout.sidePane.viewers[viewerIndex].contentPath[0]">
              </resource-render>
          </div>
        </div>
    </div>
    <!--    
    </sidebar>
    -->
  
    <div class="card content-layout" fxFlex="{{layout.contentWidth}}" *ngIf="layout">
        <!-- ROWS -->
        <div *ngFor="let row of layout.rows; let rowIndex = index;">
            <!-- COLUMNS -->
            <div class="card, row-layout">
                <div class="column-layout" *ngFor="let column of row.columns; let columnIndex = index;" fxFlex="{{column.width}}">
                    <div class="card container" *ngFor="let viewer of column.viewers; let viewerIndex = index;">
                        <resource-render
                            [siteAreaKey]="getSiteAreaKey(siteArea)"
                            [renderer]="contentRenderId(rowIndex, columnIndex, viewerIndex)"
                            [rendererTemplate]="wcmSystem.renderTemplates[layout.rows[rowIndex].columns[columnIndex].viewers[viewerIndex].renderTemplate]"
                            [content]="layout.rows[rowIndex].columns[columnIndex].viewers[viewerIndex].contentPath[0]">
                        </resource-render>
                    </div>
                </div>
            </div>
            <!-- / COLUMNS -->
        </div>
        <!-- / ROWS -->
    </div>
    <!-- RIGT SIDE PANEL -->
    <div class="card sidePanel-layout" fxFlex="{{layout.sidePane.width}}" *ngIf="rightSidePane()">
    <!--
    <sidebar fxFlex="layout.sidePane?.width" class="sidebar" name="page-template-side-bar" position="right" lockedOpen="gt-md" *ngIf="rightSidePane()">
    -->
        <div fxLayout="column" fxLayoutAlign="start"  fxFlex="1 0 auto">
            <div class="card container" *ngFor="let viewer of layout.sidePane?.viewers; let viewerIndex = index;">
                <resource-render
                    [siteAreaKey]="getSiteAreaKey(siteArea)"
                    [renderer]="sideRenderId(viewerIndex)"
                    [rendererTemplate]="wcmSystem.renderTemplates[layout.sidePane.viewers[viewerIndex].renderTemplate]"
                    [content]="layout.sidePane.viewers[viewerIndex].contentPath[0]">
                </resource-render>
            </div>
        </div>
    <!--
    </sidebar>
    -->
    </div>
</div>