@mixin reset-password-theme($theme) {

    $background: map-get($theme, background);
    $is-dark: map-get($theme, is-dark);

    reset-password {

        #reset-password {

            #reset-password-form-wrapper {

                #reset-password-form {
                    @if ($is-dark) {
                        background: mat-color($wcm-navy, 600);
                    } @else {
                        background: map-get($background, card);
                    }
                }
            }
        }
    }
}