// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

// ngx-datatable
@import '~@swimlane/ngx-datatable/themes/material';

// Perfect scrollbar
@import '~perfect-scrollbar/css/perfect-scrollbar';

@import "../../../../dist/bpw-common/lib/scss/theming";

@import "../../../../dist/bpw-common/lib/scss/wcm";

@mixin wcm-core-theme($theme) {
    
    // Theming for Wcm core styles
    @include colors-theme($theme);
    @include cards-theme($theme);
    @include material-theme($theme);
    @include page-layouts-theme($theme);
    @include typography-theme($theme);

    // Theming for WCM components
    @include countdown-theme($theme);
    @include search-bar-theme($theme);
    @include shortcuts-theme($theme);
    @include sidebar-theme($theme);
    @include theme-options-theme($theme);
    @include material-color-picker-theme($theme);
    @include widget-theme($theme);

    // Theming for 3rd party components
    @include ngx-datatable-theme($theme);
}



@include mat-core();
// -----------------------------------------------------------------------------------------------------
// @ Custom color maps for WCM
// -----------------------------------------------------------------------------------------------------
$wcm-white: (
    500: white,
    contrast: (
        500: $dark-primary-text
    )
);

$wcm-black: (
    500: black,
    contrast: (
        500: $light-primary-text,
    )
);

$wcm-navy: (
    50: #ECECEE,
    100: #C5C6CB,
    200: #9EA1A9,
    300: #7D818C,
    400: #5C616F,
    500: #3C4252,
    600: #353A48,
    700: #2D323E,
    800: #262933,
    900: #1E2129,
    A100: #C5C6CB,
    A200: #9EA1A9,
    A400: #5C616F,
    A700: #2D323E,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $light-primary-text,
        400: $light-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $light-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text,
    )
);

// Generate WCM color classes for custom palettes
$custom_palettes: (
    wcm-white: $wcm-white,
    wcm-black: $wcm-black,
    wcm-navy: $wcm-navy
);

@include wcm-color-classes($custom_palettes);

// -----------------------------------------------------------------------------------------------------
// @ Typography
// -----------------------------------------------------------------------------------------------------

// Angular Material typography
$typography: mat-typography-config(
    $font-family: 'Muli, Helvetica Neue, Arial, sans-serif',
    $title: mat-typography-level(20px, 32px, 600),
    $body-2: mat-typography-level(14px, 24px, 600),
    $button: mat-typography-level(14px, 14px, 600),
    $input: mat-typography-level(16px, 1.125, 400) // line-height must be unitless !!!
);

// Setup the typography
@include angular-material-typography($typography);

// Define a mixin for easier access
@mixin components-theme($theme) {

//     // Layout components
    @include chat-panel-theme($theme);
    @include toolbar-theme($theme);

//     // Pages
    @include forgot-password-theme($theme);
    @include lock-screen-theme($theme);
    @include login-theme($theme);    
    @include mail-confirm-theme($theme);
    @include reset-password-theme($theme);
    @include signup-theme($theme);
}

// -----------------------------------------------------------------------------------------------------
// @ Define the default theme
// -----------------------------------------------------------------------------------------------------

// Define the primary, accent and warn palettes
$default-primary-palette: mat-palette($wcm-navy);
$default-accent-palette: mat-palette($mat-light-blue, 600, 400, 700);
$default-warn-palette: mat-palette($mat-red);

// Create the Material theme object
$theme: mat-light-theme($default-primary-palette, $default-accent-palette, $default-warn-palette);

// Add ".theme-default" class to the body to activate this theme.
// Class name must start with "theme-" !!!
body.theme-default {

    // Create an Angular Material theme from the $theme map
    @include angular-material-theme($theme);

    // Apply the theme to the WCM Core
    @include wcm-core-theme($theme);

    // Apply the theme to the user components
    @include components-theme($theme);

    // Generate WCM color classes for primary, accent and warn colors
    $palettes: (
        primary: $default-primary-palette,
        accent: $default-accent-palette,
        warn: $default-warn-palette
    );

    @include wcm-color-classes($palettes);
}