<div class="builder-container page-layout carded left-sidebar">
    <!-- RESOURCE TYPE -->
    <div fxFlex="100">
        <!-- HEADER -->
        <div class="card" id="resouce-type-header">
            <div class="resource-type" fxFlex="50">
                <div fxLayout="row">
                    <mat-icon class="s-20">{{getIcon(resourceType.baseType)}}</mat-icon>
                    <h3 style="margin:0">{{resourceType.typeName}}</h3>
                </div>
                <div fxLayout="row" style="padding: 6px">
                    <mat-divider></mat-divider>
                </div>
                <div fxLayout="row">
                    <div fxFlex="30">
                        {{resourceType.baseType}}
                    </div>
                    <div fxFlex="70">
                        ID: {{resourceType.id}}
                    </div>
                </div>
            </div>
            <div class="resource-type-action" fxFlex="50">
                <div fxLayout="row">
                    <div fxFlex="25">
                        <button mat-raised-button (click)="editResourceType()">
                            <mat-icon class="mat-icon-rtl-mirror">edit</mat-icon>Edit
                        </button>
                    </div>
                    <div fxFlex="25">
                            <button mat-raised-button (click)="saveResourceType()">
                                    <mat-icon class="mat-icon-rtl-mirror">save</mat-icon>Save
                            </button>
                        </div>
                    <div fxFlex="50">
                        <button mat-icon-button [matMenuTriggerFor]="resourceFieldMenu">
                            <mat-icon class="mat-icon-rtl-mirror">more_vert</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- / HEADER -->
        <!-- ROWS -->
        <cdk-virtual-scroll-viewport itemSize="30" class="resource-field-viewport">   
            <div class="card resource-type-column" *ngFor="let group of resourceType.formGroups;">
                <div *ngIf="isStepers(group)">
                    <div *ngFor="let step of group.steps; let stepIndex = index">
                        <div fxLayout="row">
                            <div fxLayout="column" fxFlex="70">    
                                    Step: {{step.stepName}}
                            </div>
                            <div fxLayout="column" fxFlex="30">  
                                <div fxLayout="row">
                                    <button mat-icon-button (click)="editStep(step)" fxFlex="33" >
                                            <mat-icon>edit</mat-icon>Edit Step
                                    </button>
                                    <button mat-icon-button 
                                            [matMenuTriggerFor]="addStepRowMenu"
                                            [matMenuTriggerData]="{item: step}" fxFlex="33" >
                                            <mat-icon>add_box</mat-icon>Add Row
                                    </button>
                                    <button *ngIf="stepRemovable(step)" fxFlex="33" mat-icon-button (click)="deleteStep(stepIndex, group.steps)">
                                        <mat-icon>delete</mat-icon>Remove Step
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div *ngFor="let stepRow of step.formGroups; let stepRowIndex = index">
                            <div *ngIf="rowRemovable(stepRow)" fxLayout="row" fxLayoutAlign="flex-end">
                                <div fxLayout="column" fxFlex="20" fxLayoutAlign="flex-end">    
                                    <button mat-icon-button (click)="deleteRow(stepRowIndex, step.formGroups)">
                                        <mat-icon>delete</mat-icon> Remove Row
                                    </button>
                                </div>
                            </div>
                            <div fxLayout="row">
                                <div class="builder-target card container" 
                                        *ngFor="let column of stepRow.columns;" 
                                        fxFlex="{{column.fxFlex}}">
                                    <div cdkDropList id="{{column.id}}"
                                            [cdkDropListData]="column.formControls"                                
                                            [cdkDropListConnectedTo]="builderTargets"
                                            class="field-list"
                                            (cdkDropListDropped)="drop($event)"
                                            [cdkDropListEnterPredicate]="evenPredicate">    
                                        <div class="field-box" cdkDrag 
                                                *ngFor="let field of column.formControls; let index = index" 
                                                [cdkDragData]="field">

                                            <div class="resource-field-column" fxFlex="100">
                                                <div fxLayout="row" fxLayoutAlign="flex-end">
                                                    <button mat-icon-button (click)="deleteTargetField(index, column.formControls)">
                                                        <mat-icon>delete</mat-icon>
                                                    </button>
                                                    <button mat-icon-button (click)="editTargetField(index, column.formControls)">
                                                        <mat-icon>edit</mat-icon>
                                                    </button>
                                                </div>
                                                <div fxLayout="row">
                                                    <div fxFlex="100">{{field.name}}{{getResourceFieldHint(field)}}</div>
                                                </div>
                                                <div fxLayout="row">
                                                    <div fxFlex="100">{{field.controlName}}{{getResourceFieldFlags(field)}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="isTabs(group)">
                    <div *ngFor="let tab of group.tabs; let tabIndex = index">
                        <div fxLayout="row">
                            <div fxLayout="column" fxFlex="70">    
                                    Tab: {{tab.tabName}}
                            </div>
                            <div fxLayout="column" fxFlex="30">
                                <div fxLayout="row">
                                    <button mat-icon-button (click)="editTab(tab)" fxFlex="33">
                                            <mat-icon>edit</mat-icon>Edit Tab
                                    </button>
                                    <button mat-icon-button 
                                            [matMenuTriggerFor]="addTabRowMenu"
                                            [matMenuTriggerData]="{item: tab}" fxFlex="33" >
                                            <mat-icon>add_box</mat-icon>Add Row
                                    </button>
                                    <button *ngIf="tabRemovable(tab)" fxFlex="33" mat-icon-button (click)="deleteTab(tabIndex, group.tabs)">
                                        <mat-icon>delete</mat-icon>Remove Tab
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div *ngFor="let tabRow of tab.formGroups; let tabRowIndex = index">
                            <div *ngIf="rowRemovable(tabRow)" fxLayout="row" fxLayoutAlign="flex-end">
                                <div fxLayout="column" fxFlex="20" fxLayoutAlign="flex-end">    
                                    <button mat-icon-button (click)="deleteRow(tabRowIndex, tab.formGroups)">
                                        <mat-icon>delete</mat-icon> Remove Row
                                    </button>
                                </div>
                            </div>
                            <div fxLayout="row">
                                <div class="builder-target card container" *ngFor="let column of tabRow.columns;" fxFlex="{{column.fxFlex}}">
                                    <div cdkDropList id="{{column.id}}"
                                        [cdkDropListData]="column.formControls"
                                        [cdkDropListConnectedTo]="builderTargets"
                                        class="field-list"
                                        (cdkDropListDropped)="drop($event)"
                                        [cdkDropListEnterPredicate]="evenPredicate">
            
                                        <div class="field-box" cdkDrag *ngFor="let field of column.formControls; let index = index" [cdkDragData]="field">
                                            <div class="resource-field-column" fxFlex="100">
                                                <div fxLayout="row" fxLayoutAlign="flex-end">
                                                    <button mat-icon-button (click)="deleteTargetField(index, column.formControls)">
                                                        <mat-icon>delete</mat-icon>
                                                    </button>
                                                    <button mat-icon-button (click)="editTargetField(index, column.formControls)">
                                                        <mat-icon>edit</mat-icon>
                                                    </button>
                                                </div>
                                                <div fxLayout="row">
                                                    <div fxFlex="100">{{field.name}}{{getResourceFieldHint(field)}}</div>
                                                </div>
                                                <div fxLayout="row">
                                                    <div fxFlex="100">{{field.controlName}}{{getResourceFieldFlags(field)}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="isRows(group)">
                    <div *ngFor="let row of group.rows">
                        <div *ngIf="rowRemovable(row)" fxLayout="row" fxLayoutAlign="flex-end">
                            <div fxLayout="column" fxFlex="20" fxLayoutAlign="flex-end">    
                                <button mat-icon-button (click)="deleteRow(index, group.rows)">
                                    <mat-icon>delete</mat-icon> Remove Row
                                </button>
                            </div>
                        </div>    
                        <div fxLayout="row">
                            <div class="builder-target card container" *ngFor="let column of row.columns;" fxFlex="{{column.fxFlex}}">
                                <div cdkDropList id="{{column.id}}"
                                    [cdkDropListData]="column.formControls"
                                    [cdkDropListConnectedTo]="builderTargets"
                                    class="field-list"
                                    (cdkDropListDropped)="drop($event)"
                                    [cdkDropListEnterPredicate]="evenPredicate">

                                    <div class="field-box" cdkDrag *ngFor="let field of column.formControls; let index = index" [cdkDragData]="field">
                                        <div class="resource-field-column" fxFlex="100">
                                            <div fxLayout="row" fxLayoutAlign="flex-end">
                                                <button mat-icon-button (click)="deleteTargetField(index, column.formControls)">
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                                                <button mat-icon-button (click)="editTargetField(index, column.formControls)">
                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                            </div>
                                            <div fxLayout="row">
                                                <div fxFlex="100">{{field.name}}{{getResourceFieldHint(field)}}</div>
                                            </div>
                                            <div fxLayout="row">
                                                <div fxFlex="100">{{field.controlName}}{{getResourceFieldFlags(field)}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </cdk-virtual-scroll-viewport>
        <!-- / ROWS -->
    </div>
    <!-- / RESOURCE TYPE -->
    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar" name="field-pallet-side-bar" position="left" lockedOpen="gt-md"  fxFlex="20">
        <div fxLayout="column" fxLayoutAlign="start"  fxFlex="1 0 auto">
            <div class="card field-pallet">
                <mat-icon>apps</mat-icon><span>Control Fields</span>
            </div>
            <div class="builder-source">
                <cdk-virtual-scroll-viewport itemSize="30" class="resource-field-viewport">   
                    <div id="palletFields" cdkDropList
                        [cdkDropListData]="controlFields"
                        [cdkDropListConnectedTo]="builderTargets"
                        class="field-list"
                        [cdkDropListEnterPredicate]="noReturnPredicate">
                        
                        <div class="pallet-box"
                                *ngFor="let control of controlFields"
                                [cdkDragData]="control"
                                cdkDrag>
                            <mat-icon>{{control.icon}}</mat-icon><span>{{control.name}}</span>
                        </div>
                    </div>
                </cdk-virtual-scroll-viewport>
            </div>
        </div>
    </fuse-sidebar>
    <!-- / SIDEBAR --> 
</div>
<mat-menu #resourceFieldMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="addRowMenu">Add Row</button>
    <button mat-menu-item [matMenuTriggerFor]="addTabMenu">Add Tab</button>
    <button mat-menu-item [matMenuTriggerFor]="addStepMenu">Add Step</button>
</mat-menu>

<mat-menu #addRowMenu="matMenu">
    <button mat-menu-item (click)="addNewRow(1)">One Column</button>
    <button mat-menu-item (click)="addNewRow(2)">Two Columns</button>
    <button mat-menu-item (click)="addNewRow(3)">Three Columns</button>
    <button mat-menu-item (click)="addNewRow(4)">Four Columns</button>
</mat-menu>
      
<mat-menu #addTabMenu="matMenu">
    <button mat-menu-item (click)="addNewTab(1)">One Column</button>
    <button mat-menu-item (click)="addNewTab(2)">Two Columns</button>
    <button mat-menu-item (click)="addNewTab(3)">Three Columns</button>
    <button mat-menu-item (click)="addNewTab(4)">Four Columns</button>
</mat-menu>
      
<mat-menu #addStepMenu="matMenu">
    <button mat-menu-item (click)="addNewStep(1)">One Column</button>
    <button mat-menu-item (click)="addNewStep(2)">Two Columns</button>
    <button mat-menu-item (click)="addNewStep(3)">Three Columns</button>
    <button mat-menu-item (click)="addNewStep(4)">Four Columns</button>
</mat-menu>
<mat-menu #addTabRowMenu="matMenu">
    <ng-template matMenuContent let-item="item">
        <button mat-menu-item (click)="addTabRow(1, item)">One Column</button>
        <button mat-menu-item (click)="addTabRow(2, item)">Two Columns</button>
        <button mat-menu-item (click)="addTabRow(3, item)">Three Columns</button>
        <button mat-menu-item (click)="addTabRow(4, item)">Four Columns</button>
    </ng-template>
</mat-menu>
<mat-menu #addStepRowMenu="matMenu">
    <ng-template matMenuContent let-item="item">
            <button mat-menu-item (click)="addStepRow(1, item)">One Column</button>
            <button mat-menu-item (click)="addStepRow(2, item)">Two Columns</button>
            <button mat-menu-item (click)="addStepRow(3, item)">Three Columns</button>
            <button mat-menu-item (click)="addStepRow(4, item)">Four Columns</button>
    </ng-template>
</mat-menu>

