<div *ngIf="jsonForm" id="template" fxLayout="column" class="page-layout carded inner-scroll">
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="start"  fxFlex="1 0 auto">
        <h3> Site Area</h3>
    </div>
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="start"  fxFlex="1 0 auto">
        <h3> Repository: {{repository}}</h3>
    </div>
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="start"  fxFlex="1 0 auto">
        <h3> Workspace: {{workspace}}</h3>
    </div>
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="start"  fxFlex="1 0 auto">
        <h3> Node Path: {{nodePath}}</h3>
    </div>
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="start"  fxFlex="1 0 auto">
        <mat-tab-group fxLayout="column" fxFlex>
            <mat-tab label="Properties">
                <json-schema-form
                    loadExternalAssets="true"
                    [form]="jsonForm.formSchema"
                    [options]="jsonFormOptions"
                    [framework]="selectedFramework"
                    [language]="selectedLanguage"    
                    [data]="siteArea"    
                    (onSubmit)="createContent($event)">
                </json-schema-form>
            </mat-tab>
            <mat-tab label="layout">
                <site-area-layout [siteArea]="siteArea" (layoutCommited)="commitLayout($event)"></site-area-layout>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>  
        
      