@import "../../../../../../../../../../dist/bpw-common/lib/scss/theming";
chat-user-sidenav {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    mat-toolbar {

        .toolbar-bottom {
            height: 180px;
        }
    }
}
