<h1 mat-dialog-title>Select Content Items</h1>
<div mat-dialog-content fxLayout="row">
    <div fxLayout="column" fxFlex="100">
        Authoring Template:
    </div>
</div>

<div mat-dialog-content fxLayout="row">
    <div fxLayout="column" fxFlex="100">
        <div class="content-items-container">
            <authoring-template-selector (authoringTemplateSelected)="authoringTemplateSelected($event)">
            </authoring-template-selector>
        </div>
    </div>
</div>

<div mat-dialog-content fxLayout="row">    
    <div fxLayout="column" fxFlex="100">
        <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()">No Thanks</button>
            <button mat-raised-button (click)="onOKClick()" cdkFocusInitial>Ok</button>
        </div>
    </div>
</div>
