<div style="display: flex; flex-direction: column; width: 100%">
  <div id="fone">
    <p>flex item with<br />two longer lines</p>
    <span>flex item</span>
    <p>flex item</p>
  </div>
  <div id="ftwo">
    <span>flex item with<br />two longer lines</span>
    <span>flex item</span>
    <p>flex item</p>
  </div>

  <nav [ngClass]="'mynav'">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    <a href="/jobs">Careers</a>
    <a href="/contact">Contact Us</a>
  </nav>
</div>
